* {
  padding: 0;
  margin: 0;
  border: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: url("https://wallpapercave.com/wp/wp5561716.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBox {
  background: #000;
  opacity: 0.8;
  border-radius: 25px;
  padding: 1rem;
  color: white;
  width: 95%;
  max-width: 450px;
}

.inputCity {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 25px;
  background-color: #7c7c7c2b;
  color: #fafafa;
  width: 80%;
}

.searchButton {
  border: none;
  outline: none;
  padding: 0.4rem;
  cursor: pointer;
  float: right;
  border-radius: 50%;
  background-color: #7c7c7c2b;
}

.searchImg {
  width: 20px;
}

.mediumBox {
  margin-top: 1.3rem;
}
.city {
  font-size: 28px;
  font-weight: 300;
  color: #fafafa;
}

.weather {
  font-size: 20px;
  color: #fafafa;
  margin-top: 1rem;
}

.smallBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

.weatherText {
  color: #ffff;
  text-transform: capitalize;
}

.moisture {
  color: #fff;
  margin-top: 1rem;
}
